html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

button,
btn,
.section-services__element {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

use {
background: rgb(255 192 203 / 0%);
}

/* heder*/

.header {
  border-bottom: 1px solid;
  border-bottom-color: #d9fff5;
}

/* Заголовок секции */
.section-services__title {
  background: linear-gradient(to right, #f8f8f8 0%, #ffffff 98.61%);
  padding-top: 16px;
  padding-bottom: 16px;
}

.section-services__h2 {
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  font-weight: normal;
  color: #7e7e82;
}

/* секция брэндов и услуг */
.section-services {
  background: #f2f2f2;
}

.section-services__menu {
  display: flex;
  background: #f2f2f2;
  flex-wrap: wrap;
  gap: 16px 2.9415%;
  padding-top: 24px;
}

.section-services__element {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 22.0595%;
  height: 72px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
}

.section-services__element::before {
  content: " ";
  position: absolute;
  right: 16px;
  width: 40px;
  height: 40px;
  background-image: url("../images/btn-go.svg");
  background-repeat: no-repeat;
}

.section-services__element:hover::before {
  transform: translateX(5px) rotate(360deg);
  transition: transform 0.25s ease-in-out;
}

.section-services__element:active::before {
  transform: scale(0.9);
  transition: transform 0.15s ease-in-out;
}

.section-services__icon-svg {
  margin-left: 16px;
}
.section-services__icon-svg--acer {
  width: 94px;
  height: 24px;
}

.section-services__icon-svg--apple {
  width: 44px;
  height: 44px;
}

.section-services__icon-svg--bosch {
  width: 128px;
  height: 28.6px;
}

.section-services__icon-svg--hp {
  width: 52px;
  height: 52px;
}

.section-services__icon-svg--lenovo {
  width: 108px;
  height: 32px;
}

.section-services__icon-svg--samsung {
  width: 116px;
  height: 38.52px;
}

.section-services__icon-svg--sony {
  width: 128px;
  height: 25.6px;
}

.section-services__icon-svg--view-sonic {
  width: 128px;
  height: 21px;
}

.btn__show-more {
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  padding-left: 32px;
  padding-top: 24px;
  padding-bottom: 34px;
  background-color: #f2f2f2;
  white-space: nowrap;
}

.btn__show-more::before {
  position: absolute;
  content: " ";
  background-repeat: no-repeat;
  background-image: url("../images/expand.svg");
  transform: translateX(-32px);
  width: 24px;
  height: 24px;
}

.btn--rotate::before {
  position: absolute;
  content: " ";
  background-repeat: no-repeat;
  background-image: url("../images/expand.svg");
  transform: translateX(-32px) rotate(180deg);
  width: 24px;
  height: 24px;
}

/* Адаптив */

@media (min-width: 320px) and (max-width: 354px) {
  .section-services::after {
    content: " ";
    position: absolute;
    width: 24px;
    height: 81px;
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
    z-index: 10;
    left: 93%;
    top: 88px;
  }
}

@media (min-width: 355px) and (max-width: 767px) {
  .section-services::after {
    content: " ";
    position: absolute;
    width: 24px;
    height: 81px;
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
    z-index: 10;
    left: 97%;
    top: 64px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .section-services__content {
    overflow: hidden;
    padding-left: 5%;
  }
  .section-services__h2 {
    padding-left: 5%;
  }
  .section-services__menu {
    flex-wrap: nowrap;
    padding-top: 16px;
  }
  .section-services__element {
    min-width: 75%;
  }
  .btn__show-more {
    display: none;
  }
  li.swiper-slide {
    display: flex;
    align-items: center;
    height: 72px;
  }

  div.swiper-pagination {
    position: static;
    padding-top: 16px;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    column-gap: 4px;
  }
  span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #b5b6bc;
    width: 12px;
    height: 12px;
    opacity: 1;
  }

  span.swiper-pagination-bullet {
    background-color: #dddddd;
    width: 12px;
    height: 12px;
    opacity: 1;
  }
}

@media (min-width: 768px) and (max-width: 1119px) {
  .section-services__element--hide,
  .section-services__element--hide768 {
    display: none;
  }
  .section-services__h2 {
    padding-left: 2.125%;
  }
  .section-services__content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.125%;
  }
  .section-services__element {
    min-width: 29.8%;
  }
}

@media (min-width: 1120px) {
  .section-services__element--hide {
    display: none;
  }
  .section-services__h2 {
    padding-left: 2.8575%;
  }
  .section-services__content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.8575%;
  }
}
